<div class="header-text">
  <a href="index.html" class="logo">
    <span>d</span><span>r</span><span>u</span><span>n</span><span>k</span
    ><span>b</span><span>i</span><span>r</span><span>d</span
    ><span class="logo-domain">.net</span>
  </a>
</div>

<div class="header-image"></div>

<div class="navbar">
  <a href="index.html">Home</a>

  <details class="dropdown" name="navbar-dropdown">
    <summary>Brownian Motion</summary>
    <div class="dropdown-content">
      <a href="brownian-motion/index.html">About</a>
    </div>
  </details>
</div>
