<form id="controls">
  <div data-process="bm rw" style="display: none">
    <label>
      Graph mode
      <select id="graph-mode">
        <option value="xt">X (with time axis)</option>
        <option value="xy">X, Y (without time axis)</option>
        <option value="xyt">X, Y (with time axis)</option>
        <option value="xyz">X, Y, Z</option>
      </select>
    </label>
  </div>

  <div data-process="bm rw" style="display: none">
    <label>
      Duration
      <input
        id="duration"
        type="number"
        min="1"
        max="10000"
        step="1"
        value="10"
      />
    </label>
  </div>

  <h3 class="parameter-heading">Parameters</h3>

  <div data-process="bm" style="display: none">
    <div>
      Diffusion
      <div class="dimensions-table">
        <label data-mode="x xy xyz" style="display: none">
          <span data-mode="xy xyz" style="display: none">X</span>
          <input
            id="diffusion-x"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>

        <label data-mode="xy xyz" style="display: none">
          <span>Y</span>
          <input
            id="diffusion-y"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>

        <label data-mode="xyz" style="display: none">
          <span>Z</span>
          <input
            id="diffusion-z"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>
      </div>
    </div>
  </div>

  <div data-process="bm" style="display: none">
    <div>
      Drift
      <div class="dimensions-table">
        <label data-mode="x xy xyz" style="display: none">
          <span data-mode="xy xyz" style="display: none">X</span>
          <input
            id="drift-x"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="0"
          />
        </label>

        <label data-mode="xy xyz" style="display: none">
          <span>Y</span>
          <input
            id="drift-y"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="0"
          />
        </label>

        <label data-mode="xyz" style="display: none">
          <span>Z</span>
          <input
            id="drift-z"
            type="number"
            min="-1000000000000"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="0"
          />
        </label>
      </div>
    </div>
  </div>

  <div data-process="rw" style="display: none">
    <div>
      Step direction relative frequency
      <div class="dimensions-table">
        <label data-mode="x xy xyz" style="display: none">
          <span data-mode="xy xyz" style="display: none">X&nbsp;&nbsp;</span
          ><span style="font-weight: normal">+</span>
          <input
            id="p-positive-x"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>

        <label data-mode="x xy xyz" style="display: none">
          <span style="font-weight: normal">-</span>
          <input
            id="p-negative-x"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>
      </div>

      <div class="dimensions-table">
        <label data-mode="xy xyz" style="display: none">
          <span style="display: contents">Y&nbsp;&nbsp;</span
          ><span style="font-weight: normal">+</span>
          <input
            id="p-positive-y"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>

        <label data-mode="xy xyz" style="display: none">
          <span style="font-weight: normal">-</span>
          <input
            id="p-negative-y"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>
      </div>

      <div class="dimensions-table">
        <label data-mode="xyz" style="display: none">
          <span style="display: contents">Z&nbsp;&nbsp;</span
          ><span style="font-weight: normal">+</span>
          <input
            id="p-positive-z"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>

        <label data-mode="xyz" style="display: none">
          <span style="font-weight: normal">-</span>
          <input
            id="p-negative-z"
            type="number"
            min="0"
            max="1000000000000"
            step="0.00000001"
            data-jump="0.1"
            value="1"
          />
        </label>
      </div>
    </div>
  </div>

  <div data-process="bm rw" style="display: none">
    <label>
      Branching rate
      <input
        id="branching-rate"
        type="number"
        min="0"
        max="10"
        step="0.00000001"
        data-jump="0.05"
        value="0.3"
      />
    </label>
    <label>
      <span style="font-size: small">Enabled?</span
      ><input id="branching-on" type="checkbox" checked />
      <br />
    </label>
  </div>

  <div data-process="bm rw" style="display: none">
    <label>
      Initial particles
      <input
        id="initial-particles"
        type="number"
        min="1"
        max="100"
        step="1"
        value="1"
      />
    </label>
  </div>

  <h3 class="parameter-heading">Simulation Settings</h3>

  <div id="max-particles-input" data-process="bm rw" style="display: none">
    <label>
      Population cap
      <input
        id="max-particles"
        type="number"
        min="1"
        max="10000"
        step="1"
        value="300"
      />
    </label>
    <label>
      <span style="font-size: small">Enabled?</span
      ><input id="max-particles-on" type="checkbox" checked />
      <br />
    </label>
  </div>

  <div data-process="bm" style="display: none">
    <label>
      Time step
      <input
        id="dt"
        type="number"
        min="0.0001"
        max="1"
        step="0.00000001"
        data-jump="0.001"
        value="0.01"
      />
    </label>
  </div>

  <div data-process="bm rw" style="display: none">
    <label>
      Seed
      <input id="seed" type="number" value="0" min="0" max="4294967295" />
    </label>
    <label
      ><span style="font-size: small">Enabled?</span
      ><input id="seed-on" type="checkbox" checked />
      <br />
    </label>
  </div>

  <div data-process="bm rw" style="display: none">
    <label>
      Animation duration
      <input
        id="animation"
        type="number"
        min="1"
        max="30"
        step="1"
        data-jump="1"
        value="2"
      />
    </label>
  </div>

  <button id="simulate-button" type="submit" style="margin-top: 0.7rem">
    Run
  </button>
  <p id="status">Ready</p>
</form>

<section>
  <h3>Result</h3>
  <div id="trajectory-plot"></div>

  <h3>Summary</h3>
  <dl>
    <div data-mode="xy xyz" style="display: none">
      <dt>Maximum distance at end-time</dt>
      <dd id="max-final-distance">—</dd>
    </div>

    <div data-mode="xy xyz" style="display: none">
      <dt>All-time maximum distance</dt>
      <dd id="max-distance">—</dd>
    </div>

    <div data-mode="xy xyz" style="display: none">
      <dt>Time of maximum distance</dt>
      <dd id="max-distance-time">—</dd>
    </div>

    <div data-mode="x" style="display: none">
      <dt>Maximum position at end-time</dt>
      <dd id="max-final-position">—</dd>
    </div>

    <div data-mode="x" style="display: none">
      <dt>Minimum position at end-time</dt>
      <dd id="min-final-position">—</dd>
    </div>

    <div data-mode="x" style="display: none">
      <dt>All-time maximum position</dt>
      <dd id="max-position">—</dd>
    </div>

    <div data-mode="x" style="display: none">
      <dt>All-time minimum position</dt>
      <dd id="min-position">—</dd>
    </div>

    <div data-mode="x xy xyz" style="display: none">
      <dt>Mean final position</dt>
      <dd id="mean-final-position">—</dd>
    </div>

    <div data-mode="x xy xyz" style="display: none">
      <dt>First branch time</dt>
      <dd id="first-branch-time">—</dd>
    </div>

    <div data-mode="x xy xyz" style="display: none">
      <dt>Maximum generation at end-time</dt>
      <dd id="maximum-generation">—</dd>
    </div>

    <!-- Currently not used. -->
    <div data-process="" style="display: none">
      <dt>All-time particles created</dt>
      <dd id="particles-created">—</dd>
    </div>

    <div data-mode="x xy xyz" style="display: none">
      <dt>Population at end-time</dt>
      <dd id="final-population">—</dd>
    </div>

    <div data-mode="x xy xyz" data-process="rw" style="display: none">
      <dt>Total origin visits</dt>
      <dd id="origin-visits">—</dd>
    </div>

    <div data-mode="x" data-process="rw" style="display: none">
      <dt>Proportion of time positive</dt>
      <dd id="proportion-time-positive">—</dd>
    </div>
  </dl>

  <p id="summary-note"></p>
</section>
